<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>NovaRate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/index.css') }}?v=1">
</head>
<body>
    <div class="container">

        <!-- Logo -->
        <img src="{{ url_for('static', filename='images/novalogo.png') }}"
             alt="Logo NovaRate" class="logo">

        <!-- Título -->
        <h1 class="titulo">NovaRate</h1>

        <!-- Subtítulo -->
        <p class="subtitulo">Valora películas y series con estilo</p>

        <!-- Botón -->
        <a href="{{ url_for('login') }}" class="boton">🎬 Comenzar</a>
    </div>
</body>
</html>

